### Base de Dados do Football Data (https://www.football-data.co.uk/)

### Importando as Bibliotecas

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.simplefilter("ignore")

### Definindo as Temporadas e as Ligas

In [2]:
leagues = ["E0", "E1","E2","E3", "EC", "SP1", "SP2", "D1", "D2", "I1", "I2",
           "F1", "F2", "SC0","SC1","SC2","SC3","N1","B1","P1","T1","G1"]

### Concatenando as Ligas

In [3]:
# Lista para armazenar os Dataframes
dfs = []

# Iterando por cada Temporada e Liga
for league in leagues:
        url = f"https://www.football-data.co.uk/mmz4281/2425/{league}.csv"
        try:
            df = pd.read_csv(url)
            dfs.append(df)
        except:
            print(f"Erro ao ler a URL: {url}")

# Concatenar todos os Dataframes
df = pd.concat(dfs, ignore_index=True)

### Selecionando as colunas desejadas

In [4]:
df = df[["Div", "Date", "HomeTeam", "AwayTeam", "FTHG", "FTAG", "FTR"]]
df.columns = ["League", "Date", "Home", "Away", "Gols_H", "Gols_A", "FTR",]

league_mapping = {
    "E0": "Premier League",
    "E1": "EFL Championship",
    "E2": "EFL League One",
    "E3": "EFL League Two",
    "EC": "National League",
    "SP1": "LaLiga",
    "SP2": "LaLiga 2",
    "D1": "Bundesliga",
    "D2": "Bundesliga 2",
    "I1": "Serie A",
    "I2": "Serie B",
    "F1": "Ligue 1",
    "F2": "Ligue 2",
    "SC0": "Premiership",
    "SC1": "Championship",
    "SC2": "League One",
    "SC3": "League Two",
    "N1": "Eredivisie",
    "B1": "Jupiler League",
    "P1": "Primeira Liga",
    "T1": "Super Lig",
    "G1": "Superliga"
}
df["League"] = df["League"].replace(league_mapping)

### Ordenando do mais antigo para o mais recente

In [5]:
df["Date"] = pd.to_datetime(df["Date"], format='%d/%m/%Y')
df["Date"] = df["Date"].dt.date
df = df.sort_values(by="Date")

df = df.reset_index(drop=True)
df.index += 1
df = df.dropna()

In [8]:
df['Season'] = '2024/2025'
df['Season'] = df['Season'].astype(str)
df['Placar'] = df['Gols_H'].astype(str) + " x " + df['Gols_A'].astype(str)

df = df[["Home", "Away", "League", "Season", "Date", "Gols_H" , "Gols_A" , "FTR", "Placar"]]
df

,Home,Away,League,Season,Date,Gols_H,Gols_A,FTR,Placar
1,Club Brugge,Mechelen,Jupiler League,2024/2025,2024-07-26,1.0,1.0,D,1.0 x 1.0
2,Beerschot VA,Oud-Heverlee Leuven,Jupiler League,2024/2025,2024-07-27,0.0,0.0,D,0.0 x 0.0
3,Dender,St. Gilloise,Jupiler League,2024/2025,2024-07-27,0.0,0.0,D,0.0 x 0.0
4,Anderlecht,St Truiden,Jupiler League,2024/2025,2024-07-27,1.0,0.0,H,1.0 x 0.0
5,Charleroi,Antwerp,Jupiler League,2024/2025,2024-07-28,0.0,1.0,A,0.0 x 1.0
...,...,...,...,...,...,...,...,...,...
6030,La Coruna,Cartagena,LaLiga 2,2024/2025,2025-03-23,2.0,2.0,D,2.0 x 2.0
6031,Sp Gijon,Albacete,LaLiga 2,2024/2025,2025-03-23,0.0,2.0,A,0.0 x 2.0
6032,Levante,Castellon,LaLiga 2,2024/2025,2025-03-23,3.0,2.0,H,3.0 x 2.0
6033,Eibar,Huesca,LaLiga 2,2024/2025,2025-03-23,2.0,1.0,H,2.0 x 1.0
6034,Zaragoza,Cordoba,LaLiga 2,2024/2025,2025-03-24,1.0,1.0,D,1.0 x 1.0

### Salvando a Planilha

In [7]:
df.to_csv("BaseDados\Base_FootballData_2425.csv",index=False)